<html>
	<body>
		<div id="faded-background"></div>
		<br><br><br><br>
		<h1 id="black">Our Purpose</h1>
		<p id="mid-sized-font">
		For(loop) is a non-profit incubator with the purpose of bridging the economic divide across the Delmar Boulevard by encouraging investment in businesses led by underprivileged entrepreneurs. We accomplish this through our pop-up shop program, where we provide vacant lots on Delmar to entrepreneurs in the hopes that they gain experience and confidence in the development of their own business skills.
		</p>
	</body>
</html>