<html>
	<body>
		<div id="faded-background"></div>
		<br><br><br><br>
		<h1 id="black">Our Purpose</h1>
		<div style="clear: both;"></div>
		<div class="column-left">
			<div  id="curly-left">
			<img src="/assets/curly_left.png">
			</div>
		</div>
		<div class="column-center">
		<p id="mid-sized-font">
		For{loop} is a non-profit incubator with the purpose of bridging the economic divide across the Delmar Boulevard by encouraging investment in businesses led by underprivileged entrepreneurs. We accomplish this through our pop-up shop program, where we provide vacant lots on Delmar to entrepreneurs in the hopes that they gain experience and confidence in the development of their own business skills.
		</div>
		</p>
		<div class="column-right">
			<div  id="curly-right">
			<img src="/assets/curly_right.png">
			</div>
		</div>
	</body>
</html>