<div class="section group">
  <div class="col span_1_of_3">
  This is column 1
  </div>
  <div class="col span_1_of_3">
  This is column 2
  </div>
  <div class="col span_1_of_3">
  This is column 3
  </div>
</div>


<!--table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @ideas.each do |idea| %>
      <tr>
        <td><%#= idea.name %></td>
        <td><%#= idea.picture %></td>
      </tr>
    <%# end %>
  </tbody>
</table-->

<br>