


</div>
<br><br>
<% @count = 0 %>
<% @condition = false %>
<% @ideas.each do |idea| %>
  
    <% if @count % 3 == 0 && @condition %>
        </div>
    <% end %>


    <% if @count % 3 == 0 %>
      <% @condition = true %>
      <div class="section group">
    <% end %>




  <div class="col span_1_of_3 black">
    <!-- This is where the actual ideas stuff goes -->
    <h3><%= idea.name %></h3><br>
      <div class="square-box">
        <%= link_to idea_path(idea) do %>
          <img src=<%= idea.picture %>>
        <% end %>
      </div>
  </div>


 


    <% @count=@count+1 %>
<% end %>
</div>