// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*
body{
	background: url('/assets/shop.jpeg');
	background-repeat:no-repeat;
	background-size:cover;
}
*/



h1{
	text-align: center;
	color: black;
}





.column-left{ 
	float: left; width: 33%; 
	div#curly-left{
		position: relative;
		img{
			margin-left: 15em;
			width: 22%;
			height: auto;
		}

	}
}

.column-right{ 
	float: right; width: 33%;


	div#curly-right{
		position: relative;
		img{
			width: 22%;
			height: auto;
			margin-left: 6em;
			margin-top: -29.5em;
		}
	}
 }

.column-center{
 	display: inline-block; width: 33%; 
 	p#mid-sized-font{
	margin-left: -5em;
	margin-right: -5em;
	margin-top: 3.5em;
	padding: 10px;
	color: black;
	font-size: medium;
	line-height: 250%;
}
 }


.logo{
	img {
	opacity:1;
	width: 40%;
	height: auto;
    position: absolute;
    top: 40%;
    left: 30%;

	padding:5px;
	}
}



